@media (min-width: @screen-xs-min) {}
@media (min-width: @screen-sm-min) {}
@media (min-width: @screen-md-min) {}
@media (min-width: @screen-lg-min) {}

/* ==========================================================================
   Variables and classes
   ========================================================================== */

@global-color: #4575b7;
@in-font: snow;


.left {
    float: left;
}
.right {
    float: right;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.compatible {
        // background-color: rgb(68, 178, 22)!important;/* green */
        background-color: @alert-success-bg;
        border: 1px solid @alert-success-border;
        color: @alert-success-text;
    }

.incompatible {
    // background-color: rgb(219, 10, 10)!important; /* red */
    background-color: @alert-danger-bg;
    border: 1px solid @alert-danger-border;
    color: @alert-danger-text;
}
.unknown {
    // background-color: rgb(219, 10, 10)!important; /* red */
    background-color: @alert-warning-bg;
    border: 1px solid @alert-warning-border;
    color: @alert-warning-text;
}
.disabled {
    // background-color: rgb(219, 10, 10)!important; /* red */
    background-color: white;
    border: 1px solid #bbb;
    color: grey;
}

/* ==========================================================================
   Common
   ========================================================================== */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.container {
    width: 100%;
    @media (min-width: @screen-xs-min) {}
    @media (min-width: @screen-sm-min) {}
    @media (min-width: @screen-md-min) {}
    @media (min-width: @screen-lg-min) {
        width: 970px;
    }
}

.main-container {
    min-height: 656px;
}
.footer .container {
    width: 100%;
}

/*
article {
    margin-left: 15px;
    margin-right: 15px;
    @media (min-width: @screen-xs-min) {}
    @media (min-width: @screen-sm-min) {}
    @media (min-width: @screen-md-min) {}
    @media (min-width: @screen-lg-min) {
        margin-left: 0px;
    }
}
*/
.login-wrapper, 
.remember-wrapper,
.update-wrapper,
.password-wrapper,
.signup-wrapper {
    .form-control,
    .errorMessage {
        max-width: 710px;
    }
}

.page-title {
    font-family: 'Lato-Light';
    color: #777;
    border-right: 3px solid @global-color;
    margin-bottom: 20px;
    background-color: #eee;
    /*max-width: 710px;*/
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    h2 {
        margin-top: 10px;
        font-size: 25px;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {}
        @media (min-width: @screen-md-min) {
            font-size: 30px;
        }
        @media (min-width: @screen-lg-min) {
        }
    }
    .glyphicon {
        color: @global-color;
        float: right;
        padding-right: 10px;
    }
}

.errorMessage {
    display: inline-block;
    min-width: 270px;
    width: 100%;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    padding: 6px;
    position: relative;
    top: -7px;

    font-family: 'Lato-Regular';
    &:before  {
        /*background-image: url('/img/skull.png');*/
        font-family: 'Glyphicons Halflings';
        font-size: 20px;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 20px 23px;
        padding: 10px;
        padding-right: 5px;
        content: "\e104";
        top: 3px;
        position: relative;
    }
}
.footer {
    min-height: 120px; /* .push must be the same height as .footer */
    background-color: #333;
    color: snow;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 20px;
    margin-right: 0;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    @media (min-width: @screen-xs-min) {}
    @media (min-width: @screen-sm-min) {}
    @media (min-width: @screen-md-min) {}
    @media (min-width: @screen-lg-min) {
        min-height: 120px;
    }
    a {
        color: snow;
        &:hover {
            color: @in-font;
            text-decoration: none;
        }
    }
    .footer-links {
        float: left;
        margin: auto;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        padding-right: 20px;
        font-size: 16px;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {
            font-size:18px;
            margin-top: 10px;
        }
        @media (min-width: @screen-md-min) {}
        @media (min-width: @screen-lg-min) {}
        a {
            text-transform: uppercase;
            display: block;
            &:hover {
                background-color: transparent;
                .glyphicon {
                    color: @global-color;
                }
            }
        }
    }
    .footer-left {
        margin-top: 10px;
        text-transform: uppercase;
        a {
            display: block;
        }
        &:hover {
            .glyphicon {
                color: @global-color;
            }
        }
    }
    .footer-logo-login {
        img {
            width: 250px;
            margin-top: 30px;
            margin-bottom: 30px;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                margin-bottom: 0px;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {
                margin-top: 30px;
            }
        }
    }
    .footer-logo-logout {
        img {
            width: 250px;
            margin-top: 20px;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                margin-top: 0px;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {
                margin-top: 0px;
            }
        }
    }
    .footer-bottom {
        font-family: 'Lato-LightItalic';
        font-size: 18px;
        text-align: center;
        padding-left: 30px;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {
            margin-top: 30px;
        }
        @media (min-width: @screen-md-min) {
            margin-top: 50px;
        }
        @media (min-width: @screen-lg-min) {}
    }
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
    font-family: 'Lato-LightItalic';
    font-size: 16px;
    .glyphicon {
        top: 3px;
        padding-right: 10px;
    }
}
.bs-callout-danger {
    background-color: rgb(255, 230, 234);
    border-left-color: red!important;
}
.bs-callout-ok {
    background-color: #C2DCFF;
    border-left-color: @global-color;
}

.thumbs {
    margin-right: 5px;
    top: 3px;
}
.alert {
    /*margin-right: -15px;
    margin-left: -15px;*/
}
.item {
    width: 90%;
    @media (min-width: @screen-xs-min) {
        width: 94%;
    }
    @media (min-width: @screen-sm-min) {}
    @media (min-width: @screen-md-min) {}
    @media (min-width: @screen-lg-min) {}
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.log_class {
    margin-top: 12px!important;
}

.navbar {
    min-height: 90px;
    border-radius: 0;
    border: 0;
    background-color: #333;
    margin-bottom: 0;
    .container {
        width: auto;
    }
    .navbar-nav {
        display: inline-block;
        float: none;
    }
    .navbar-collapse {
        margin-top: 13px;
    }
}

.navbar-default {
    .navbar-nav>li>a {
        font-family: "Lato-Light";
        color: snow;
        font-size: 22px;
    }

    .navbar-nav>li>a:hover {
        color: #aaa;
    }

    .navbar-nav>.active>a {
        background-color: transparent;
        border-bottom: 1px solid snow;
        color: snow;
    }

    .navbar-nav>.active>a:hover {
        background-color: transparent;
        color: snow;
    }
    .navbar-toggle {
        top: 20px;
    }
}

.navbar-brand {
    float: none;
}

.logo-title {
    position: relative;
    top: 20px;
    font-size: 30px;
    color: snow;
    font-family: "Lato-Light";
}

.userbox {
    width: 250px;
    /* height: 90px; */
    /* border: 1px solid red; */
    float: right;
    position: relative;
    color: snow;
    margin-top: 15px;
    .language {
        position: relative;
        top: -5px;
        a {
            color: snow;
        }
        .single-language {
            padding: 3px;
            padding-left: 5px;
            padding-top: 4px;
            width: 26px;
            height: 26px;
            float: right;
            margin-left: 0px;
            text-transform: uppercase;
            font-size: 12px;
            margin-bottom: -5px;
            background-color: snow;
            color: #333;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                padding-left: 1px;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}
        }

        .current {
            background-color: @global-color;
            color: snow;
        }
    }
}

.login, .loggedin, .logout, .signup {
    display: inline;
}

.signup {
    padding-left: 20px;
}
.logout {
    padding-left: 6px;
}

.loginuser {
    margin-top: -7px;
    .glyphicon {
        cursor: pointer;
        color: snow ;
        &:hover {
            color: #4575b7;
        }
    }
    a{
        color: snow;
        font-family: "Lato-Light";
        &:hover {
            color: #aaa;
            text-decoration: none;
        }
    }
    p {
        float: left;
        font-family: "Lato-Light";
        position: relative;
        top: 25px;
        span {
            font-family: "Lato-LightItalic";
            font-size: 15px;
            cursor: pointer;
        }
    }
    img {
     float: right;
    }
}



/* ==========================================================================
   HOME
   ========================================================================== */
.home-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    @media (min-width: @screen-xs-min) {}
    @media (min-width: @screen-sm-min) {}
    @media (min-width: @screen-md-min) {}
    @media (min-width: @screen-lg-min) {
        width: 100%;
        margin-top: 22px;
    }
    .home {
        text-align: center;
        font-family: 'Lato-Light';
        h1 {
            font-size: 50px;
            margin-left: -30px;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                padding-right: 100px;
                font-size: 50px;
                margin-left: 0;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}
            &:before {
                background-image: url('/img/logo.png');
                background-position: left center;
                background-repeat: no-repeat;
                padding: 14px 28px 0px 28px;
                background-size: 60px;
                content: "\00a0";
                @media (min-width: @screen-xs-min) {}
                @media (min-width: @screen-sm-min) {
                    padding: 18px 40px 0px 30px;
                    background-size: 77px;
                }
                @media (min-width: @screen-md-min) {}
                @media (min-width: @screen-lg-min) {}

            }
        }

        .home-text {
            font-size: 22px;
        }

        .items {
            text-align: left;
            font-size: 14px;
            @media (min-width: @screen-xs-min) {
                margin: auto;
                font-size: 16px;
                width: 440px;
            }
            @media (min-width: @screen-sm-min) {
                width: 520px;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}
            .item {
                margin-bottom: 5px;
                width: 90%;
            }
            .glyphicon {
                color: @global-color;
                font-size: 16px;
                top: 3px;
                margin-right: 5px;
                opacity: .5;
                @media (min-width: @screen-xs-min) {}
                @media (min-width: @screen-sm-min) {
                    font-size: 18px;
                }
                @media (min-width: @screen-md-min) {}
                @media (min-width: @screen-lg-min) {}
            }
            .home-buttons {
                margin-top: 20px;
                text-align: center;
                margin-bottom: 20px;
                .btn-success {
                    margin-left: 10px;
                    margin-right: 30px;
                    margin-bottom: 10px;
                    color: @in-font;
                    background-color: @global-color;
                    border-color: #777;
                    border-radius: 0px;
                    text-transform: uppercase;
                    padding-right: 20px;
                    padding-left: 20px;
                    &:hover {
                        background-color: #ccc;
                        color: @global-color;
                        border: 1px solid @in-font;
                    }
                }
                .btn-myprojects {
                    width: 180px;
                }
            }
        }

        img {
            width: 350px;
            position: absolute;
            opacity: .3;
            @media (min-width: @screen-xs-min) {
            }
            @media (min-width: @screen-sm-min) {
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}
        }
    }
}

/* ==========================================================================
   USER
   ========================================================================== */

/* ======== - SIGN UP / LOGIN / REMEMBER / UPDATE / PASSWORD - ========= */

.signup-wrapper,
.login-wrapper,
.remember-wrapper,
.update-wrapper,
.user-wrapper,
.password-wrapper,
.about-wrapper,
.target-wrapper,
.general-form {
    font-family: 'Lato-Light';
    .field {
        margin-bottom: 10px;
        width: 100%;
        .input-group-addon {
            font-family: 'Lato-Regular';
            width: 150px;
            text-align: left;
            color: @global-color;
            background-color: transparent;
            border: 0px;
            border-radius: 0px;
            text-transform: uppercase;
            margin-bottom: 0;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: left;
                margin-bottom: 10px;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}
        }
        .form-control {
            border-radius: 0px;
            font-family: 'Lato-LightItalic';
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {}
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}
        }
    }

    .submit {
        .btn-success {
            color: @in-font;
            background-color: @global-color;
            border-color: #777;
            border-radius: 0px;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
            &:hover {
                background-color: #ccc;
                color: @global-color;
                border: 1px solid @in-font;
            }
        }
    }
    .cancel {
        padding-top: 25px;
        font-family: 'Lato-LightItalic';
        font-size: 16px;
    }
    .privacy {
        font-family: 'Lato-LightItalic';
        font-size: 12px;
        input {
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }
}

/* ======== - LOGIN - ========= */

.loginuser {
    margin-bottom: 10px;
    text-align: right;
    a {
        color: snow;
        &:hover {

        }
    }
    .glyphicon {
        float: none;
        padding-top: 15px;
        cursor: pointer;
        color: snow;
        font-size: 20px;
        top: 5px;
    }
}

.remember {
    padding-top: 20px;
    padding-bottom: 0;
    font-family: 'Lato-LightItalic';
}

/* ======== - CONFIRM SENT & TEXT - ========= */

.confirm-wrapper,
.remember-wrapper, .about-wrapper, .target-wrapper {
    .confirm, .about-text, .target-text {
        p {
            font-style: 'Lato-Regular';
            font-size: 16px;
            width: 100%;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                font-size: 18px;
                padding: 10px;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}
        }
    }
    .glyphicon {
        color: @global-color;
        float: right;
    }
}
.target-wrapper {
    .target-text {
        .glyphicon {
            color: @global-color;
            float: left;
            top: 4px;
            padding-right: 10px;
        }
    }
}

/* ======== - REMEMBER - ========= */

.remember-wrapper {
    .glyphicon {
        color: @global-color;
        float: right;
    }
}

/* ======== - USER PROFILE - ========= */

.user-wrapper {
    .btn-success {
        color: @in-font;
        background-color: @global-color;
        border-color: #777;
        border-radius: 0px;
        text-transform: uppercase;
        margin-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .btn-success:hover {
        background-color: #ccc;
        color: @global-color;
        border: 1px solid @in-font;
    }
    .control-btn {
        left: -30px;
    }
    .form-control {
        border: 0;
        background-color: transparent;
        box-shadow: inset 0 1px 1px rgba(219, 17, 17, 0.0);
        &:focus {
            border-color: transparent;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0), 0 0 8px rgba(102, 175, 233, 0.0);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.0), 0 0 8px rgba(102, 175, 233, 0);
        }
    }
}

/* ==========================================================================
   PROJECTS
   ========================================================================== */

/* ======== - INDEX - ========= */

.common-index-wrapper {
    .page-title {
        min-width: 100%;
    }
    .mobile-submenu {
        .navbar-nav {
            /*margin-left: 10px;
            margin-right: 10px;
            margin-top: 15px;*/
            .dropdown, .open {
                background-color: transparent;
                padding-left: 15px;
                padding-right: 15px;
            }
            .open .dropdown-menu {
                position: static;
                float: left;
                width: auto;
                margin-top: 20px;
                background-color: transparent;
                border: 0;
                box-shadow: none;
                /*min-width: 340px;*/
                width: 100%;
            }
        }
        .dropdown-toggle {
            background-color: #eee;
            font-family: 'Lato-Regular';
            font-size: 20px;
            &:after {
                font-family: 'Glyphicons Halflings';
                content: '\e080';
                color: @global-color;
                float: right;
                transform:rotate(90deg);
                -ms-transform:rotate(90deg);
                -webkit-transform:rotate(90deg);
            }
        }
        .dropdown-menu, .modules-menu {
            margin-top: 15px;
            padding-left: 10px;
            li {
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 20px;
                background-color: rgba(238, 238, 238, 0.7);
                position: relative;
                height: 35px;
                /*width: 310px;*/
                .crud-item {
                    font-family: 'Lato-Regular';
                    font-size: 18px;
                    display: block;
                    cursor: pointer;
                    padding-left: 50px;
                    position: absolute;
                    top: 4px;
                    width: 80%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }

    .crud {
        .crud-row {
            min-height: 100px;
        }
    }
    ul {
        list-style: none;
    }
    .projects-list, .modules-list {
        padding-left: 10px;
        li {

            &:hover {
                .cog {
                    /*color: @global-color;*/
                }
            }
        }
    }
    .main-button-options {
        ul {
            padding-left: 0;
        }
    }
    .btn-success {
        color: @in-font;
        background-color: @global-color;
        border-color: #777;
        border-radius: 0px;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        &:hover {
            background-color: #ccc;
            color: @global-color;
            border: 1px solid @in-font;
        }
    }
    .crud-btn-create {
        width: 100%; /*before 100px*/
        margin-bottom: 5px;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {
            width: 100px;
            margin-bottom: 20px;
        }
        @media (min-width: @screen-md-min) {}
        @media (min-width: @screen-lg-min) {}
    }
    .cog {
        background-position: center;
        font-size: 25px;
        background-repeat: no-repeat;
        padding: 13px;
        padding-bottom: 11px;
        padding-right: 12px;
        border-radius: 50px;
        left: -16px;
        top: 5px;
        background-color: snow;
        position: relative;
        top: -13px;
        left: -10px;
        z-index: 10;
        color: snow;
    }

    .mobile-submenu {
        .item-selected {
            background-color: @global-color!important;
            color: snow;
            .cog {
                /*color: @global-color;*/
            }
            .move-arrow {
                color: snow;
            }
        }
    }
    .wrapper-list {
        li {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 20px;
            background-color: rgba(238, 238, 238, 0.7);
            position: relative;
            height: 35px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        .item-selected {
            background-color: @global-color!important;
            color: snow;
            .cog {
                /*color: @global-color;*/
            }
            .move-arrow {
                color: snow;
            }
        }
        .crud-item {
            font-family: 'Lato-Regular';
            font-size: 18px;
            display: block;
            cursor: pointer;
            padding-left: 50px;
            position: absolute;
            top: 4px;
            width: 80%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .crud-container {
        top: -35px;
        position: relative;
    }
    .general-form {
        font-family: 'Lato-Light';
        position: relative;
        top: -10px;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {
            /*top: -45px;*/
        }
        @media (min-width: @screen-md-min) {}
        @media (min-width: @screen-lg-min) {}
        .field {
            margin-bottom: 10px;
            width: 100%;
            .input-group-addon {
                font-family: 'Lato-Regular';
                width: 150px;
                text-align: left;
                color: @global-color;
                background-color: transparent;
                border: 0px;
                border-radius: 0px;
                text-transform: uppercase;
                margin-bottom: 0;
                @media (min-width: @screen-xs-min) {}
                @media (min-width: @screen-sm-min) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: left;
                    /*margin-bottom: 10px;*/
                    position: relative;
                    /*top: 15px;
                    left: -10px;*/
                }
                @media (min-width: @screen-md-min) {}
                @media (min-width: @screen-lg-min) {}
            }
            .form-control {
                border-radius: 0px;
                font-family: 'Lato-LightItalic';
                @media (min-width: @screen-xs-min) {}
                @media (min-width: @screen-sm-min) {}
                @media (min-width: @screen-md-min) {}
                @media (min-width: @screen-lg-min) {}
            }
        }

       .submit {
            .btn-success {
                color: @in-font;
                background-color: @global-color;
                border-color: #777;
                border-radius: 0px;
                text-transform: uppercase;
                margin-top: 20px;
                padding-right: 20px;
                padding-left: 20px;
                &:hover {
                    background-color: #ccc;
                    color: @global-color;
                    border: 1px solid @in-font;
                }
            }
            .btn-create {
                float: right;
            }
            .btn-cancel {
                float: right;
                padding-top: 25px;
                font-family: 'Lato-LightItalic';
                font-size: 16px;
            }
        }
    }
    .edit-form {
        margin-top: 30px;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {
            margin-top: 0;
            min-height: 400px;
        }
        @media (min-width: @screen-md-min) {
            padding-left: 35px;
        }
        @media (min-width: @screen-lg-min) {}
        .crud-container {
            top: 0px;
            .label {
                font-family: 'Lato-LightItalic';
                font-size: 14px;
                color: @global-color;
                text-align: left;
            }
            .value {
                padding: 5px 5px 8px 25px;
                margin-bottom: 10px;
                margin-left: 10px;
                font-family: 'Lato-Light';
                font-size: 18px;
            }
        }
    }
    .edition-buttons {
        position: relative;
        left: -20px;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {
            top: 20px;
            left: 0;
        }
        @media (min-width: @screen-md-min) {}
        @media (min-width: @screen-lg-min) {}
        button {
            position: relative;
            color: #fffafa;
            background-color: #4575b7;
            border-radius: 0px;
            text-transform: uppercase;
            width: 100%; /*before 100px*/
            margin-left: 20px;
            padding: 10px 20px 9px 20px;
            margin-bottom: 5px;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                width: 100px;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}
            &:hover {
                background-color: #ccc;
                color: @global-color;
            }
        }
        .edit {
            float: none;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                float: right;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}

        }
        .delete {
            float: none;
            @media (min-width: @screen-xs-min) {}
            @media (min-width: @screen-sm-min) {
                float: left;
            }
            @media (min-width: @screen-md-min) {}
            @media (min-width: @screen-lg-min) {}

        }
    }
    .btn-modules {
        padding-top: 10px;
        padding-bottom: 10px;
        float: right;
        &:hover {
            text-decoration: none;
            border: none;
        }position: relative;
    }
}
.info-project {
    min-height: 250px;
    margin-top: 30px;
    padding-left: 0;
    .nav-tabs {
        .list-tab {
            top: 4px;
        }
        /*ctive {
            top: 5px;
        }*/
    }
    ul {
        border-color: #dddddd;
        li {
            background-color: transparent!important;
            border-color: @global-color;
            &:active > a{
                border-color: @global-color;
            }
            a {
                font-family: 'Lato-Regular';
                font-size: 18px;
                border-radius: 0;
                &:hover {
                    background-color: @global-color!important;
                    opacity: .7;
                    color: snow;
                    border-radius: 0;
                }
                &:focus {
                   background-color: snow!important;
                }
                &.active {
                    &:hover {
                        color: snow!important;
                        background-color: @global-color!important;
                        opacity: .7;
                    }
                }
            }
        }
    }
    .nav-tabs > li.active > a:hover {
        color: snow!important;
        background-color: @global-color!important;
        opacity: .7;
    }
    .nav-tabs > li.focus > a:hover {
        color: rgb(85, 85, 85)!important;
    }
    .tab-content {
        .active {
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
            margin-bottom: 30px;
            h3 {
                margin-top: 0;
                padding-top: 20px;
            }
        }
        .alert {
            margin-left: 0;
            margin-right: 0;
            margin-top: 20px;
        }
    }
    .tab-pane {
        .comp-title {
            text-align: center;
            font-family: 'Lato-LightItalic';
            color: @global-color;
        }
        .list-title {
            text-align:center;
            font-family:'Lato-Light';
            text-transform: uppercase;
        }
        .static-list, .dinamic-list {
            text-align: center;
            ul {
                padding-left: 0;
            }
            li {
                background-color: #EEEEEE!important;
                &:hover {
                    background-color: #C7D1E5!important;
                    a {
                        color: #555555!important;
                    }
                }
                a {
                    text-decoration: none;
                    &:hover {
                        background-color: transparent!important;
                    }
                }
            }
        }
    }
}
.alt-buttons {
    @media (min-width: @screen-xs-min) {}
    @media (min-width: @screen-sm-min) {
        padding-left: 0;
    }
    @media (min-width: @screen-md-min) {}
    @media (min-width: @screen-lg-min) {}
    .report {
        float: left;
        margin-right: 20px;
    }
}

.project-selected {
    top: 2px;
    margin-right: 10px;
}

/* ==========================================================================
   MODULES
   ========================================================================== */
.module-index-wrapper {
       .dropdown-toggle {
        &:after {
            content: ''!important;
        }
    }
}
.move-arrow {
    float: right;
    top: 5px;
    right: 10px;
    font-size: 18px;
    color: @global-color;
    cursor: pointer;
}
.commom-dropdpown {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-top: 5px;
    padding-bottom: 5px;
    background: transparent;
    border-color: #cccccc;
    overflow: hidden;
    background-image: url('/img/drop.png');
    background-position: right center;
    background-position: 98% 12px;
    background-repeat: no-repeat;
    /*width: 310px;*/
    font-size: 18px;
    font-family: 'Lato-LightItalic';
    @media (min-width: @screen-xs-min) {}
    @media (min-width: @screen-sm-min) {
        width: 310px;
        background-position-x:270px;
    }
    @media (min-width: @screen-md-min) {}
    @media (min-width: @screen-lg-min) {}
}

.item {
    .compatible {
        // background-color: rgb(68, 178, 22)!important;/* green */
        background-color: @alert-success-bg;
        border: 1px solid @alert-success-border;
        color: @alert-success-text;
    }

    .incompatible {
        // background-color: rgb(219, 10, 10)!important; /* red */
        background-color: @alert-danger-bg;
        border: 1px solid @alert-danger-border;
        color: @alert-danger-text;
    }
    .unknown {
        // background-color: rgb(219, 10, 10)!important; /* red */
        background-color: @alert-warning-bg;
        border: 1px solid @alert-warning-border;
        color: @alert-warning-text;
    }
    .disabled {
        // background-color: rgb(219, 10, 10)!important; /* red */
        background-color: white;
        border: 1px solid #bbb;
        color: grey;
    }
}
.module-status {
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
    .page-title {
        margin-bottom: 0px;
    }
    .alert {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }
    .status {
        font-size: 22px;
        font-family: 'Lato-Regular';
    }
    .status-result {
        font-size: 25px;
        font-family: 'Lato-LightItalic';
        padding-left: 10px;
    }
    .conflict-status {
        margin-bottom: 20px;
    }
    .conflict-list {
        text-align: left;
        font-size: 18px;
        .module-item {
            font-family: 'Lato-Regular';
        }
    }
    .table {
        .table-conflict {
            th {
                text-align: center;
                max-width: 33%;
            }
        }
        td {
            max-width: 0px;
            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
.span-question {
    width: 20px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid @global-color;
    padding-left: 5px;
    padding-right: 6px;
    margin-left: 10px;
    a{
        &:hover {
            text-decoration:none;
        }
    }
}

/* ==========================================================================
   REPORT
   ========================================================================== */

.print {
    width: 100px;
    color: @in-font;
    background-color: @global-color;
    border-color: #777;
    border-radius: 0px;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    &:hover {
        background-color: #ccc;
        color: @global-color;
        border: 1px solid @in-font;
    }
}

/* ==========================================================================
   ON / OFF  SWITCHER
   ========================================================================== */
.modules-list {
    li {
        width: 90%;
    }
}
.switcher { /* Box attached to the module */
    top: 0px;
    right: -30px;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 5px;
    position: absolute;
    font-size: 18px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    &:hover {
        text-decoration: none;
    }
}
.item-selected .switcher { /* The box changes its color when selected */
    background: @global-color!important;
    color: snow!important;
}
.item .switcher { /* Keeps its color when not selected */
    background: #F2F1F1;
    color: @global-color;
}
.switcher-on { /* Adds an eye-close to the switcher */
    &:before {
        font-family: 'Glyphicons Halflings';
        content: "\e106";
    }
}
.switcher-off{ /* Adds an eye-open to de switcher */
    &:before {
        font-family: 'Glyphicons Halflings';
        content: "\e105";
    }
}
.off-element { /* Disables all event */
    // pointer-events: none;
    opacity: .3;
    // filter: gray;
    // -webkit-filter: grayscale(1);
    // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
 }
.on-element { /* Enable events */
    // pointer-events: auto;
 }

/* ==========================================================================
   REPORT
   ========================================================================== */
.report-content {
    margin-bottom: 50px;
    .report-link {
        font-size: 18px;
        padding: 5px;
        text-align: center;
        .report-link-icon {
            position: relative;
            top: 3px;
            padding-left: 5px;
        }
    }
    .project-info {
        .label {
            font-size: 16px;
            color: #606060;
            text-align: left;
            display: block;
            padding: 5px;
            border-bottom: 1px solid;
            border-color: #eee;
        }
        .value {
            padding: 5px 5px 8px 25px;
            margin-bottom: 10px;
            margin-left: 10px;
            font-family: 'Lato-Light';
            font-size: 18px;
        }
    }
}


/* ==========================================================================
   ERROR PAGES & MODAL BOXES
   ========================================================================== */
.center-error {
    min-height: 300px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 20px;
    .error-title h2 {
        font-family: 'Lato-LightItalic';
        font-size: 25px;
        font-weight: bold;
        color: @global-color;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {
            font-size: 35px;
        }
        @media (min-width: @screen-md-min) {}
        @media (min-width: @screen-lg-min) {}
    }
    .back {
        position: relative;
        padding: 15px 30px;
        margin: 0;
        color: #555;
        background: #dddddd;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: 100%;
        @media (min-width: @screen-xs-min) {}
        @media (min-width: @screen-sm-min) {
            width: 60%;
            max-width: 400px;
            margin-left: 100px;
        }
        @media (min-width: @screen-md-min) {}
        @media (min-width: @screen-lg-min) {}

    }
    .back:after {
        content: "";
        position: relative;
        bottom: -50px;
        left: 50px;
        border-width: 0 20px 50px 0px;
        border-style: solid;
        border-color: transparent #ddd;
        display: block;
        width: 0;
        @media (min-width: @screen-xs-min) {
            left: 150px;
        }
        @media (min-width: @screen-sm-min) {
            left: 200px;
        }
        @media (min-width: @screen-md-min) {}
        @media (min-width: @screen-lg-min) {}
    }
    #monster {
        margin-top: 20px;
    }
    #monster img {
        width: 30%;
        max-width: 30%;
    }
}

.modal-dialog {
    .modal-content {
        border-radius: 0px;
        .modal-header {
                background-color: @alert-danger-bg;
                border: 1px solid @alert-danger-border;
            .custom-modal-title {
                font-family: 'Lato-LightItalic';
                font-size: 24px;
                font-weight: bold;
                color: @alert-danger-text;
            }
        }
        .modal-body {
            .message-title {
                font-family: 'Lato-Light';
                font-size: 18px;
            }
            .crud-modalInfo {
                .value {
                    font-family: 'Lato-Regular';
                    font-size: 18px;
                    &:before {
                        font-family: 'Glyphicons Halflings';
                        content: '\e019';
                        position: relative;
                        top: 3px;
                        left: -5px;
                    }
                }
            }
        }
        .modal-footer {
            .btn-success {
                margin-bottom: 0;
                border: 0;
                &:hover {
                    border: 0;
                }
            }
        }
    }
}
